@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
}
.container {
  width: 40vw;
  min-height: 10.2vw;
  height: fit-content;
  margin-top: 33vh;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 38px #b3b2b2, -20px -20px 38px #f1f1f1;
  margin-bottom: 10vw;
}

input {
  width: 75%;
  height: 8vh;
  font-size: 1.8vw;
  outline-style: none;
  font-family: "Nunito", sans-serif;
  border: none;
  margin: 4vh 0 1vh 14%;
  border-radius: 50px;
  padding: 1vh 1vw 1vh 2vw;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 12px #c3c3c3, inset -4px -4px 12px #fdfdfd;
}
.content {
  width: 100%;
  height: fit-content;
}
.todo {
  width: 93%;
  height: 100%;
  font-size: 1.8vw;
  background-color: rgb(219, 219, 219);
  padding: 0.5vw 0 0.5vw 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
  margin-top: 2vh;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
}
#delBtn {
  background-color: rgb(194, 88, 88);
  width: 3vw;
  height: 6vh;
  padding: 0;
  margin-top: 4vh;
  font-weight: 900;
  border: 2px solid rgba(231, 231, 231, 0);
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 100px;
  background: #e0e0e0;
  transition: 0.2s;
  opacity: 0.3;
  box-shadow: 4px 4px 8px #c3c3c3, -4px -4px 8px #fdfdfd;
}
#delBtn:active {
  cursor: pointer;
  box-shadow: inset 5px 5px 13px #d0d0d0, 
            inset -5px -5px 13px #f0f0f0;
}
#delBtn:hover {
    /* transform: rotate(180deg); */
    /* font-size: 2.1vw; */
    opacity: 1;
  }

#delBtn p {
  font-size: 2vw;
  transition: 0.4s;
  margin-top: 3.6vh;
  color: rgb(202, 5, 5);
}
.done {
  background-color: rgb(63, 139, 69);
}
#todoContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 2.7vw;
  width: 97%;
  height: fit-content;
  align-items: center;
}
#todoContent {
  flex: 0.9;
  margin-top: 1vw;
}
.todo p {
  font-size: 3vw;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 10vh;
  background-color: transparent;
  padding: 0.5vh 0 2vh 1vw;
  justify-content: flex-start;
  align-items: center;
}
li {
  list-style-type: none;
  padding-left: 1vw;
}
.btn {
  font-family: "Nunito", sans-serif;
  align-self: center;
  margin-left: 3.2%;
  padding: 1.4vh 2.2vw 1.4vh 2.2vw;
  cursor: pointer;
  outline-style: none;
  font-size: 1vw;
  border: none;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 6px 6px 11px #cacaca, -6px -6px 11px #f6f6f6;
  color: rgb(185, 184, 184);
  font-size: 1.1vw;
  font-weight: 700;
}
.btn:active {
  /* background-color: rgb(156, 156, 156); */
  border: none;
  outline-style: none;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 12px #c3c3c3, inset -6px -6px 12px #fdfdfd;
}
.buttonContainer p {
  margin-right: 4vw;
  margin-left: 1vw;
  font-family: "Nunito", sans-serif;
  color: rgb(155, 152, 152);
  font-weight: 700;
}

.activeBtn {
  color: rgb(68, 214, 0) !important;
}
#title {
  position: absolute;
  top: -5vh;
  color: rgb(112, 51, 153);
  left: 11vw;
  font-size: 6vw;
  font-family: "Pacifico", cursive;
}
